.container {
  display: flex;
  flex-direction: column;
}

.weatherIcon {
  height: 60px;
  width: 60px;
}

.resultContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.locationWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
